<a href="https://colab.research.google.com/github/4Alehxandr4/python-para-data-science/blob/main/python_para_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python para Data Science

*Meu notebook de estudos sobre Python aplicado à Ciência de Dados.*

Aqui você vai encontrar anotações, exercícios, gráficos e mini projetos que estou desenvolvendo ao longo do meu aprendizado com a linguagem Python.

# Notebook

Um **Notebook** é como um caderno digital, usado para contar uma história com dados e códigos. Nele, escrevemos passo a passo a nossa lógica de raciocínio, desde o problema até a solução.

No notebook, você pode usar dois tipos de **blocos**, também chamados de **células**:

- **Blocos de textos:** para explicar o contexto, os objetivos do projeto, conclusões etc.
- **Blocos de códigos:**  para programar, explorar dados, criar gráficos e mais.

# 1. Introdução ao Python: Meus primeiros passos na linguagem

Python é uma **linguagem de programação versátil**, fácil de aprender e com uma **sintaxe clara** que  permite focar na lógica do problema, sem complicações técnicas.

Ela conta com muitas **bibliotecas** prontas, como:

* **NumPy** (cálculos),

* **Pandas** (análise de dados),

* **Matplotlib** (gráficos).

Além disso, é **multiplataforma**, ou seja, funciona em Windows, Mac e Linux, facilitando o uso em diferentes computadores.

## 1.1 Comando
Os comandos básicos em Python variam de acordo com o tipo de variável manipulada. Existem **operações possíveis com valores numéricos** e também **manipulações possíveis para strings(valores textuais)**.

Dentre os comandos básicos gerais podemos citar o **print()** e o **input()**, que conseguimos utilizar com as
variáveis.

### → Função print ( )
A **função print** é utilizada para exibir informações na tela, ou seja, ela imprime ou exibe o conteúdo passado como argumento. Um exemplo de uso dessa função é o seguinte código:

In [ ]:
print('Olá Mundo!')

Olá Mundo!

O **print()** não imprime apenas textos, mas números e também é possível imprimir vários dados em conjunto dentro dessa função

In [ ]:
print (2013)

2013

In [ ]:
print ('Alexandra,', 19)

Alexandra, 19

####*  Primeiro Desafio

In [ ]:
print('Escola de Dados da Alura!')

Escola de Dados da Alura!

*Quando colocamos dois print em sequência (um abaixo do outro) conseguimos obter uma quebra de linhas:*

In [ ]:
print('Nome: Alexandra')
print('Sobrenome: Rocha')

Nome: Alexandra
Sobrenome: Rocha

*Se você quiser que o texto pule linha dentro do print(), use o \\n (que significa “nova linha”):*

In [ ]:
print('A\nL\nE\nX\nA\nN\nD\nD\nR\nA')

A
L
E
X
A
N
D
D
R
A

In [ ]:
print(28, 'Abril' ,2006)

28 Abril 2006

In [ ]:
print('Ano atual:',2025)

Ano atual: 2025

### → input ( )

A função **input ( )** permite a quem programa **receber dados** da pessoa
usuária. É usado para ler e retornar uma **entrada digitada pelo usuário** como string.

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [60]:
nome = input('Escreva o seu nome: ')

Escreva o seu nome: Alexandra

In [61]:
nome

'Alexandra'

⚠️ Note que o nome está entre aspas simples. Isso quer dizer que a **função inpu( ) sempre retorna um valor textual**. Se quisermos, por exemplo, coletar um número, temos que fazer a **conversão** dessa saída para outro tipo de valor.

####*  Conversão de dados

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- **Inteiros:** int(dado_para_conversao) → converte o dado para o
tipo inteiro
- **Float:** float(dado_para_conversao) → converte o dado para o
tipo ponto flutuante (decimal)
- **String:** str(dado_para_conversao) → converte o dado para o
tipo string (texto)
- **Booleano:** bool(dado_para_conversao) → converte o dado para o
tipo booleano (lógico)

In [62]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2013

In [63]:
type(ano_entrada)

str

In [64]:
ano_entrada = int(input('Escreva o ano de ingresso do (a) estudante: '))

Escreva o ano de ingresso do (a) estudante: 2013

In [65]:
type(ano_entrada)

int

Para exibir resultados misturando texto com valores numéricos (ou de outros tipos), utilizamos a formatação com '**f**' strings.

Essa estrutura permite incorporar variáveis diretamente dentro da string, facilitando a leitura e organização da saída.

In [66]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))

Digite a nota do teste de ingresso: 9.0

In [72]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano da entrada {ano_entrada} \nNota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano da entrada 2013
Nota do teste de ingresso 9.0

####*   Segundo Desafio Desafio

##### Coleta e amostragem de dados

*Questão 1*

Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.

In [6]:
nome = input('Qual o seu nome?')
print(f'Olá, {nome}!')

Qual o seu nome?Ale
Olá, Ale!

*Questão 2*

Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.

In [9]:
nome = input('Qual o seu nome? ')
idade = int (input('Qual a sua idade? '))
print(f'Olá, {nome}! você tem {idade} anos')

Qual o seu nome? Ale
Qual a sua idade? 19
Olá, Ale! você tem 19 anos

*Questão 3*

Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [12]:
nome = input ('Qual o seu nome? ')
idade = int (input('Qual a sua idade? '))
altura = float (input('Qual a sua alura em metro? '))

print(f'Olá, {nome}! você tem {idade} anos e {altura} metros.')

Qual o seu nome? Ale
Qual a sua idade? 19
Qual a sua alura em metro? 1.60
Olá, Ale! você tem 19 anos e 1.6 metros.

##### Calculadora com operadores

*Questão 1*

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.

In [17]:
a = int (input('Valor a: '))
b = int (input('Valor b: '))

print(f'Resultado:{a+b}')

Valor a: 5
Valor b: 2
Resultado: 7

*Questão 2*

Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.

In [19]:
a = int (input('Valor a: '))
b = float (input('Valor b: '))
c = int (input('Valor c: '))

print(f'Resultado:{a+b+c}')

Valor a: 5
Valor b: 7.5
Valor c: 10
Resultado: 22.5

*Questão 3*

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.

In [20]:
a = float (input ('Valor a: '))
b = float (input ('Valor b: '))

print(f'Resultado:{a-b}')

Valor a: 5.8
Valor b: 2.3
Resultado: 3.5

*Questão 4*

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.

In [21]:
a = float (input('Valor de a:'))
b = int (input('Valor b: '))

print(f'Resultado:{a*b}')

Valor de a:5.12
Valor b: 5
Resultado: 25.6

*Questão 5*

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [25]:
numerador = int (input('Valor do numerador: '))
denominador = int (input('Valor denominador (diferente de zero) : '))

print(f'Resultado:{numerador/denominador}')

Valor do numerador: 6
Valor denominador: (Diferente de zero) 2
Resultado: 3.0

*Questão 6*

Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.

In [26]:
operador = int (input('Valor operador: '))
potencia = int (input('Valor da potência: '))

print(f'Resultado:{operador**potencia}')

Valor operador: 2
Valor da potência: 3
Resultado:8

*Questão 7*

Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [27]:
numerador = int (input("Valor numerador: "))
denominador = int (input("Valor denominador (diferente de zero): "))

print(f'Resultado:{numerador//denominador}')

Valor numerador: 7
Valor denominador:(diferente de zero) 9
Resultado:0

*Questão 8*

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [28]:
numerador = int (input('Valor numerador: '))
denominador = int (input('Valor numerador (diferente de zero): '))

print(f'Resultado:{numerador%denominador}')

Valor numerador: 7
Valor numerador (diferente de zero): 9
Resultado:7

*Questão 9*

Crie um código que solicita 3 notas de um estudante e imprima a média das notas.

In [31]:
media_1 = float (input("Nota 1: "))
media_2 = float (input("Nota 2: "))
media_3 = float (input("Nota 3: "))

print(f'Nota final: {(media_1 + media_2 + media_3)/3}')

Nota 1: 5.0
Nota 2: 7.5
Nota 3: 10.0
Nota final: 7.5

*Questão 10*

Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [32]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Média {media_ponderada}.')

Média 14.9.

##### Editando textos

*Questão 1*

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.

In [33]:
frase = 'Todo verão termina'
frase

'Todo verão termina'

*Questão 2*

Crie um código que solicite uma frase e depois imprima a frase na tela.

In [35]:
frase = input("Digite uma Frase:")
print(f'Frase: {frase}')

Digite uma Frase:Foi modo de dizer
Frase: Foi modo de dizer

*Questão 3*

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.

In [36]:
maiuscula = input('Digite uma frase: ')
print (maiuscula.upper())

Digite uma frase: Acidente
ACIDENTE

*Questão 4*

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.

In [38]:
letras = input('Digite uma frase: ')
print(letras.title())

Digite uma frase: alinhamento milenar
Alinhamento Milenar

*Questão 5*

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

In [41]:
frase = ' Eu sempre fui o sol '
print(frase.strip())

Eu sempre fui o sol

#### Questão 6

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.

In [42]:
espaço = input ('Digite uma frase: ')
print(frase.strip())

Digite uma frase:      Eu sempre fui o sol
Eu sempre fui o sol

*Questão 7*


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.

In [45]:
minuscula = input ('Digite uma frase: ')
print(minuscula.strip().lower())

Digite uma frase: TENHO PRESSA DE EXISTIR
tenho pressa de existir

*Questão 8*

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`e`” trocadas pela letra “`f`”.

In [50]:
vogais = input('Digite uma frase: ')
print(vogais.lower().replace('e','f')) #colocamos o lower para que todas as letras sofram a mudança

Digite uma frase: Eu te leio
fu tf lfio

*Questão 9*


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`a`” trocadas pela caractere  “`@`”.

In [51]:
vogais = input('Digite a frase: ')
print(vogais.lower().replace('a','@'))

Digite a frase: Alecis das meninas
@lecis d@s menin@s

*Questão 10*


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “`s`” trocadas pelo caractere  “`$`”.

In [52]:
cosoantes = input('Digite a frase: ')
print(cosoantes.lower().replace('s','$'))

Digite a frase: Posso ser o seu gameboy
po$$o $er o $eu gameboy

# 2. Variáveis

Podemos entender as **variáveis** como nomes que armazenam valores. Se quisermos acessar uma informação, usamos o nome da variável para isso.

Em **Python, não é necessário definir o tipo da variável previamente**, pois o tipo é **determinado automaticamente pelo valor atribuído**, isso se chama ***tipagem dinâmica***.

✅ Com isso:

* Podemos **atribuir qualquer tipo de valor** a uma variável (texto, número, etc.).

* Podemos **alterar esse valor a qualquer momento**, trocando por outro dado diferente.

###→ Regras para Variáveis
Nomes que **não** podemos definir para variáveis:

* Nomes que **começam com números**. **Exemplos**: 10_notas, 2_nomes_casa.

* Palavras **separadas por espaço**. **Exemplos**: Nome escola, notas estudantes.

* **Nomes de funções** do Python. **Exemplos**: print, type.

Letras **maiúsculas** e **minúscula**s vão gerar **diferentes** variáveis. A variável **idadeé** diferente de **Idade**, que por sua vez, também é diferente de **IDADE**.

In [ ]:
idade = 1

Idade = 2

IDADE = 3

_idade = 4

_idade_ = 5

print(idade, Idade, IDADE, _idade, _idade_)

1 2 3 4 5

## 2.1 Atribuição
*Situação hipotética*


*  Eu preciso trabalhar com a idade de um estudante qualquer de na minha escola, para armazenarmos a idade desse aluno, é preciso criar uma variável.

In [ ]:
nome_da_variável = valor # O (=) é o operador de atribuição

In [ ]:
idade = 5 #Aqui estou ligando a váriavel 'idade' ao ao valor

⚠️ **Shift + Enter** para que o dado seja salvo na memória do executador

In [ ]:
print (idade) #saída do valor

5



*   Se passou 5 anos,  o mesmo estudante agora tem 10 anos é preciso alterar a sua idade.

In [ ]:
idade = 10 #Aqui estou modificando o valor da da variável idade

In [ ]:
print (idade) #saída do novo valor da idade

10

* Se passou mais 5 anos, o mesmo estudante agora tem 15 anos é preciso modificar a sua idade.

In [ ]:
idade = 15 #troquei novamente a sua idade

In [ ]:
idade #Essa aqui é outra forma de vizualizar a variável idade. O notebook executará todas as linhas, atribuirá o valor 15 à variável e lerá apenas o valor de idade.

15

⚠️**Lembrando** que usar apenas o nome, como neste caso, idade, só funciona quando está na última linha da célula.

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

## 2.2 Tipos de variáveis

Cada **variável contém uma classe específica** quanto ao tipo de objeto que ela está referenciando. Essas classes vão ser diferentes a partir do **tipo de dado que nós atribuimos a uma variável**.

| CLASSE | DESCRIÇÃ0 | EXEMPLO |
|---|---|---|
|**Int**| Armazena números **inteiro**| 3, 100 ou -5 |
|**float**| armazena números com ponto denominados flutuante, ou seja, números que possuem parte **fracionária** ou **reais**| 3.14, 100.0 ou -0.5|
|**str**| Armazena strings, ou seja, um **texto** ou **sequências de caracteres**. As strings são geralmente usadas para armazenar texto e são **delimitadas por aspas simples ou duplas**| “Olá!”, ‘Alexandra’ ou ‘1234’|
|**bool**| Armazena valores lógicos *verdadeiro* ou *falso*| True e False (a primeira letra tem que ser maiúscula)|



*   ***Exemplo***

In [1]:
i = 5
type (i) # Para saber a classe de cada elemento, usamos a função type()

int

⚠️ O Python está dizendo que **i** é uma variável de tipo **inteiro**.

In [2]:
f = 20.13
type (f)

float

⚠️ O Python está dizendo que **f** é uma variável de tipo **float (decimal)**.

In [3]:
s = 'Alexandra'
type (s)

str

⚠️ O Python está dizendo que **s** é uma variável de tipo **string (texto)**.

In [4]:
b = False
type (b)

bool

⚠️ O Python está dizendo que **b** é uma variável de tipo **bool (lógico)**.

*Situação hipotética*


* A equipe de dados pediu para eu criar uma ficha do aluno "Monkey D. Luffy".

É preciso criar variáveis que armazenem os dados da ficha desse aluno. São eles:

* **Nome:** Monkey D. Luffy
* **Idade:** 15 anos
* **Media do semestre:** 8,45
* **Situaçao de aprovação:** Verdadeira (aprovado)

Na célula abaixo, conseguimos criar esses valores.

In [5]:
nome_aluno = 'Monkey D.Luffy'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
# se usa underline para substituir o espaço e manter a variável única

print (nome_aluno, idade_aluno, media_aluno, situacao_aprovado) #imprimir os resultados

Monkey D.Luffy 15 8.45 True

## 2.3 Operações com valores numéricos

Abaixo, uma tabela descrevendo a **função dos operadores** e sua **sintaxe de uso**, sendo **a** e **b** variáveis numéricas:

|DESCRIÇÃO | QUANTIDADE |
|---|---|
|Soma |  a + b |
|Subtração | a - b|
|Multiplicação | a * b |
| Divisão com resultados real | a / b |
| Divisão com resultado inteiro | a // b |
| Potência | a ** b |
| Resto de divisão (Módulo) | a % b |

In [13]:
soma = 2 + 5
print (soma)

sub = 5 -2
print (sub)

mult = 5 * 2
print (mult)

div_real = 6/3
print (div_real)

div_int = 5.5//5
print(div_int)

pot = 2**3
print (pot)

rest_div = 7%3
print (rest_div)

7
3
10
2.0
1.0
8
1

Além deles, existem também **funções** que podem ser aplicadas a valores numéricos para executar outros cálculos:

 * **Função** *abs*: retorna o valor absoluto da variável, ou seja, seu valor positivo.

In [6]:
#Sintaxe: abs(variavel)
abs (-3)

3

* **Função** *round*: retorna o número arrendondado com uma precisão definida *n* casas decimais após o ponto decimal. Se não especificarmos as casas, será retornado o inteiro mais as casas, será retornado o inteiro mais próximo do ponto flutuante.

In [7]:
#Sintaxe: round(variavel, numero_de_casas)
round(14.3213,2)

14.32

* **Função** *pow*: retorna a potenciação de uma base por seu expoente, funciona do mesmo modo que o operador **.

In [8]:
#Sintaxe: pow(base, expoente)
pow(3,2)

9

## 2.2.3 Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [1]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [3]:
# Total de empregados
total_empregados = q_seguranca + q_diretoria + q_docente
total_empregados

22

In [5]:
# A diferença entre o salário mais baixo e mais alto
diferenca_salario = s_diretoria - s_seguranca
diferenca_salario

9500

In [7]:
#média ponderada da faixa salarial
media = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)
media

5613.636363636364

In [8]:
round(5613.636363636364,3)

5613.636

## 2.4 Manipulação de strings

As strings são usadas para armazenar valores de texto.

Assim como nas variáveis numéricas, é possível manipular as strings a partir de **operações**, **funções** e até **métodos**. Por serem imutáveis, **sua manipulação resulta em cópias**, ou seja, são criadas novas strings a partir de uma original que foi manipulada.

### → Operadores

* O **operador de soma**, permite unir duas ou mais strings e gerar uma tring única

In [16]:
cor = 'verde limão '
varias = 'várias cores'
frase = cor+varias
print (frase)

verde limão várias cores

* O **operador de multiplicação** vai repetir a string em uma quantidade de vezes iguais à especificada.

In [18]:
parte_1 = 'Não posso ser seu, '
parte_2 = 'oh ' * 3
palavra = parte_1 + parte_2
print (palavra)

Não posso ser seu, oh oh oh

### → Função

* A função **len ( )** a quantidade de caracteres que a frase tem. (também conta o espaço entre as palavras)

In [21]:
frase = 'Hoje eu acordei tão cedo'
print (len(frase))

23

* A função **str ( )** retorna a a representação de uma string para uma entrada.

In [22]:
ano = str (2013)
ano

'2013'

### → Métodos

📢 **Métodos** são funções que são associadas a objetos de uma string.

Métodos podem ser executados ao definirmos um objeto seguindo a seguinte
estrutura: **objeto.metodo()**

*Situação hipotética*

 Recebi uma variável com o nome de uma professora da escola para inserir no cadastro. No entanto, precisamos tratar esse texto antes de inserir no sistema.

In [50]:
professor = ' Ales pereira Lima '

In [55]:
professor = professor.strip().replace('s','x').upper()
professor

'ALEX PEREIRA LIMA'

Os métodos que utilizamos para tratar esses dados, foram:

* **strip ( )** → remove espaços extras no início e fim do texto.

* **replace ('a', 'b')** → troca letras ou trechos de texto.

* **upper ( )**→ transforma todas as letras em maiúsculas.