<a href="https://colab.research.google.com/github/4Alehxandr4/python-para-data-science/blob/main/python_para_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python para Data Science**

*Meu notebook de estudos sobre Python aplicado à Ciência de Dados.*

Aqui você vai encontrar anotações, exercícios, gráficos e mini projetos que estou desenvolvendo ao longo do meu aprendizado com a linguagem Python.

# Notebook

Um **Notebook** é como um caderno digital, usado para contar uma história com dados e códigos. Nele, escrevemos passo a passo a nossa lógica de raciocínio, desde o problema até a solução.

No notebook, você pode usar dois tipos de **blocos**, também chamados de **células**:

- **Blocos de textos:** para explicar o contexto, os objetivos do projeto, conclusões etc.
- **Blocos de códigos:**  para programar, explorar dados, criar gráficos e mais.

# 1. Introdução ao Python: Meus primeiros passos na linguagem

**Python é uma linguagem de programação de uso um geral.** Isso significa que ela pode ser usada para criar diversos tipos de aplicações

#Varíavel
Podemos entender as **variáveis** como um nome que está associado a um valor. Se queremos acessar esse valor, dado, ou informação, precisamos recorrer ao seu nome: a variável.

##Função print ( )
A **função print** é utilizada para exibir informações na tela, ou seja, ela imprime ou exibe o conteúdo passado como argumento. Um exemplo de uso dessa função é o seguinte código:

In [ ]:
print ('Olá Mundo!')

Olá Mundo!

O **print()** não imprime apenas textos, mas números e também é possível imprimir vários dados em conjunto dentro dessa função

In [ ]:
print (2013)

2013

In [ ]:
print ('Alexandra,', 19)

Alexandra, 19

#Primeiro Desafio

In [ ]:
print ('Escola de Dados da Alura!')

Escola de Dados da Alura!

*Quando colocamos dois print em sequência (um abaixo do outro) conseguimos obter uma quebra de linhas:*

In [ ]:
print ('Nome: Alexandra')
print('Sobrenome: Rocha')

Nome: Alexandra
Sobrenome: Rocha

*Se você quiser que o texto pule linha dentro do print(), use o \\n (que significa “nova linha”):*

In [ ]:
print ('A\nL\nE\nX\nA\nN\nD\nD\nR\nA')

A
L
E
X
A
N
D
D
R
A

In [ ]:
print(28, 'Abril' ,2006)

28 Abril 2006

In [ ]:
print ('Ano atual:',2025)

Ano atual: 2025

## → Atribuição
*Situação hipotética*


*  Eu preciso trabalhar com a idade de um estudante qualquer de na minha escola, para armazenarmos a idade desse aluno, é preciso criar uma variável.

In [ ]:
idade = 5 #Aqui estou ligando a váriavel 'idade' ao ao valor

⚠️ **Shift + Enter** para que o dado seja salvo na memória do executador

In [ ]:
print (idade) #saída do valor

5



*   Se passou 5 anos,  o mesmo estudante agora tem 10 anos é preciso alterar a sua idade.

In [ ]:
idade = 10 #Aqui estou modificando o valor da da variável idade

In [ ]:
print (idade) #saída do novo valor da idade

10

* Se passou mais 5 anos, o mesmo estudante agora tem 15 anos é preciso modificar a sua idade.

In [ ]:
idade = 15 #troquei novamente a sua idade

In [ ]:
idade #Essa aqui é outra forma de vizualizar a variável idade. O notebook executará todas as linhas, atribuirá o valor 15 à variável e lerá apenas o valor de idade.

15

⚠️**Lembrando** que usar apenas o nome, como neste caso, idade, só funciona quando está na última linha da célula.

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

####Regras para Variáveis
Nomes que **não** podemos definir para variáveis:

* Nomes que **começam com números**. **Exemplos**: 10_notas, 2_nomes_casa.

* Palavras **separadas por espaço**. **Exemplos**: Nome escola, notas estudantes.

* **Nomes de funções** do Python. **Exemplos**: print, type.

Letras **maiúsculas** e **minúscula**s vão gerar **diferentes** variáveis. A variável **idadeé** diferente de **Idade**, que por sua vez, também é diferente de **IDADE**.

In [ ]:
idade = 1

Idade = 2

IDADE = 3

_idade = 4

_idade_ = 5

print(idade, Idade, IDADE, _idade, _idade_)

1 2 3 4 5