<a href="https://colab.research.google.com/github/4Alehxandr4/python-para-data-science/blob/main/python_para_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python para Data Science

*Meu notebook de estudos sobre Python aplicado √† Ci√™ncia de Dados.*

Aqui voc√™ vai encontrar anota√ß√µes, exerc√≠cios, gr√°ficos e mini projetos que estou desenvolvendo ao longo do meu aprendizado com a linguagem Python.

# Notebook

Um **Notebook** √© como um caderno digital, usado para contar uma hist√≥ria com dados e c√≥digos. Nele, escrevemos passo a passo a nossa l√≥gica de racioc√≠nio, desde o problema at√© a solu√ß√£o.

No notebook, voc√™ pode usar dois tipos de **blocos**, tamb√©m chamados de **c√©lulas**:

- **Blocos de textos:** para explicar o contexto, os objetivos do projeto, conclus√µes etc.
- **Blocos de c√≥digos:**  para programar, explorar dados, criar gr√°ficos e mais.

# 1. Introdu√ß√£o ao Python: Meus primeiros passos na linguagem

Python √© uma **linguagem de programa√ß√£o vers√°til**, f√°cil de aprender e com uma **sintaxe clara** que  permite focar na l√≥gica do problema, sem complica√ß√µes t√©cnicas.

Ela conta com muitas **bibliotecas** prontas, como:

* **NumPy** (c√°lculos),

* **Pandas** (an√°lise de dados),

* **Matplotlib** (gr√°ficos).

Al√©m disso, √© **multiplataforma**, ou seja, funciona em Windows, Mac e Linux, facilitando o uso em diferentes computadores.

## 1.1 Comando
Os comandos b√°sicos em Python variam de acordo com o tipo de vari√°vel manipulada. Existem **opera√ß√µes poss√≠veis com valores num√©ricos** e tamb√©m **manipula√ß√µes poss√≠veis para strings(valores textuais)**.

Dentre os comandos b√°sicos gerais podemos citar o **print()** e o **input()**, que conseguimos utilizar com as
vari√°veis.

### ‚Üí Fun√ß√£o print ( )
A **fun√ß√£o print** √© utilizada para exibir informa√ß√µes na tela, ou seja, ela imprime ou exibe o conte√∫do passado como argumento. Um exemplo de uso dessa fun√ß√£o √© o seguinte c√≥digo:

In [ ]:
print ('Ol√° Mundo!')

Ol√° Mundo!

O **print()** n√£o imprime apenas textos, mas n√∫meros e tamb√©m √© poss√≠vel imprimir v√°rios dados em conjunto dentro dessa fun√ß√£o

In [ ]:
print (2013)

2013

In [ ]:
print ('Alexandra,', 19)

Alexandra, 19

####*  Primeiro Desafio

In [ ]:
print ('Escola de Dados da Alura!')

Escola de Dados da Alura!

*Quando colocamos dois print em sequ√™ncia (um abaixo do outro) conseguimos obter uma quebra de linhas:*

In [ ]:
print ('Nome: Alexandra')
print('Sobrenome: Rocha')

Nome: Alexandra
Sobrenome: Rocha

*Se voc√™ quiser que o texto pule linha dentro do print(), use o \\n (que significa ‚Äúnova linha‚Äù):*

In [ ]:
print ('A\nL\nE\nX\nA\nN\nD\nD\nR\nA')

A
L
E
X
A
N
D
D
R
A

In [ ]:
print(28, 'Abril' ,2006)

28 Abril 2006

In [ ]:
print ('Ano atual:',2025)

Ano atual: 2025

### ‚Üí input ( )

A fun√ß√£o **input()** permite a quem programa **receber dados** da pessoa
usu√°ria. √â usado para ler e retornar uma **entrada digitada pelo usu√°rio** como string.

Para fazer essa coleta podemos atribuir essa fun√ß√£o √† uma vari√°vel.

In [60]:
nome = input ('Escreva o seu nome: ')

Escreva o seu nome: Alexandra

In [61]:
nome

'Alexandra'

‚ö†Ô∏è Note que o nome est√° entre aspas simples. Isso quer dizer que a **fun√ß√£o inpu( ) sempre retorna um valor textual**. Se quisermos, por exemplo, coletar um n√∫mero, temos que fazer a **convers√£o** dessa sa√≠da para outro tipo de valor.

####*  Convers√£o de dados

O retorno desse comando sempre ser√° uma *string*. Isso quer dizer que mesmo que fa√ßamos uma coleta de algo que deva ser num√©rico, ele ser√° uma string.

Ent√£o, ser√° preciso **converter o resultado caso n√£o seja desej√°vel obter uma string**.

Existem fun√ß√µes para convers√£o de valores:

- **Inteiros:** int(dado_para_conversao) ‚Üí converte o dado para o
tipo inteiro
- **Float:** float(dado_para_conversao) ‚Üí converte o dado para o
tipo ponto flutuante (decimal)
- **String:** str(dado_para_conversao) ‚Üí converte o dado para o
tipo string (texto)
- **Booleano:** bool(dado_para_conversao) ‚Üí converte o dado para o
tipo booleano (l√≥gico)

In [62]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2013

In [63]:
type(ano_entrada)

str

In [64]:
ano_entrada = int(input('Escreva o ano de ingresso do (a) estudante: '))

Escreva o ano de ingresso do (a) estudante: 2013

In [65]:
type(ano_entrada)

int

Para exibir resultados misturando texto com valores num√©ricos (ou de outros tipos), utilizamos a formata√ß√£o com '**f**' strings.

Essa estrutura permite incorporar vari√°veis diretamente dentro da string, facilitando a leitura e organiza√ß√£o da sa√≠da.

In [66]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))

Digite a nota do teste de ingresso: 9.0

In [72]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print (f'Ano da entrada {ano_entrada} \nNota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano da entrada 2013
Nota do teste de ingresso 9.0

# 2. Vari√°veis

Podemos entender as **vari√°veis** como nomes que armazenam valores. Se quisermos acessar uma informa√ß√£o, usamos o nome da vari√°vel para isso.

Em **Python, n√£o √© necess√°rio definir o tipo da vari√°vel previamente**, pois o tipo √© **determinado automaticamente pelo valor atribu√≠do**, isso se chama ***tipagem din√¢mica***.

‚úÖ Com isso:

* Podemos **atribuir qualquer tipo de valor** a uma vari√°vel (texto, n√∫mero, etc.).

* Podemos **alterar esse valor a qualquer momento**, trocando por outro dado diferente.

###‚Üí Regras para Vari√°veis
Nomes que **n√£o** podemos definir para vari√°veis:

* Nomes que **come√ßam com n√∫meros**. **Exemplos**: 10_notas, 2_nomes_casa.

* Palavras **separadas por espa√ßo**. **Exemplos**: Nome escola, notas estudantes.

* **Nomes de fun√ß√µes** do Python. **Exemplos**: print, type.

Letras **mai√∫sculas** e **min√∫scula**s v√£o gerar **diferentes** vari√°veis. A vari√°vel **idade√©** diferente de **Idade**, que por sua vez, tamb√©m √© diferente de **IDADE**.

In [ ]:
idade = 1

Idade = 2

IDADE = 3

_idade = 4

_idade_ = 5

print(idade, Idade, IDADE, _idade, _idade_)

1 2 3 4 5

## 2.1 Atribui√ß√£o
*Situa√ß√£o hipot√©tica*


*  Eu preciso trabalhar com a idade de um estudante qualquer de na minha escola, para armazenarmos a idade desse aluno, √© preciso criar uma vari√°vel.

In [ ]:
nome_da_vari√°vel = valor # O (=) √© o operador de atribui√ß√£o

In [ ]:
idade = 5 #Aqui estou ligando a v√°riavel 'idade' ao ao valor

‚ö†Ô∏è **Shift + Enter** para que o dado seja salvo na mem√≥ria do executador

In [ ]:
print (idade) #sa√≠da do valor

5



*   Se passou 5 anos,  o mesmo estudante agora tem 10 anos √© preciso alterar a sua idade.

In [ ]:
idade = 10 #Aqui estou modificando o valor da da vari√°vel idade

In [ ]:
print (idade) #sa√≠da do novo valor da idade

10

* Se passou mais 5 anos, o mesmo estudante agora tem 15 anos √© preciso modificar a sua idade.

In [ ]:
idade = 15 #troquei novamente a sua idade

In [ ]:
idade #Essa aqui √© outra forma de vizualizar a vari√°vel idade. O notebook executar√° todas as linhas, atribuir√° o valor 15 √† vari√°vel e ler√° apenas o valor de idade.

15

‚ö†Ô∏è**Lembrando** que usar apenas o nome, como neste caso, idade, s√≥ funciona quando est√° na √∫ltima linha da c√©lula.

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

## 2.2 Tipos de vari√°veis

Cada **vari√°vel cont√©m uma classe espec√≠fica** quanto ao tipo de objeto que ela est√° referenciando. Essas classes v√£o ser diferentes a partir do **tipo de dado que n√≥s atribuimos a uma vari√°vel**.

| CLASSE | DESCRI√á√É0 | EXEMPLO |
|---|---|---|
|**Int**| Armazena n√∫meros **inteiro**| 3, 100 ou -5 |
|**float**| armazena n√∫meros com ponto denominados flutuante, ou seja, n√∫meros que possuem parte **fracion√°ria** ou **reais**| 3.14, 100.0 ou -0.5|
|**str**| Armazena strings, ou seja, um **texto** ou **sequ√™ncias de caracteres**. As strings s√£o geralmente usadas para armazenar texto e s√£o **delimitadas por aspas simples ou duplas**| ‚ÄúOl√°!‚Äù, ‚ÄòAlexandra‚Äô ou ‚Äò1234‚Äô|
|**bool**| Armazena valores l√≥gicos *verdadeiro* ou *falso*| True e False (a primeira letra tem que ser mai√∫scula)|



*   ***Exemplo***

In [1]:
i = 5
type (i) # Para saber a classe de cada elemento, usamos a fun√ß√£o type()

int

‚ö†Ô∏è O Python est√° dizendo que **i** √© uma vari√°vel de tipo **inteiro**.

In [2]:
f = 20.13
type (f)

float

‚ö†Ô∏è O Python est√° dizendo que **f** √© uma vari√°vel de tipo **float (decimal)**.

In [3]:
s = 'Alexandra'
type (s)

str

‚ö†Ô∏è O Python est√° dizendo que **s** √© uma vari√°vel de tipo **string (texto)**.

In [4]:
b = False
type (b)

bool

‚ö†Ô∏è O Python est√° dizendo que **b** √© uma vari√°vel de tipo **bool (l√≥gico)**.

*Situa√ß√£o hipot√©tica*


* A equipe de dados pediu para eu criar uma ficha do aluno "Monkey D. Luffy".

√â preciso criar vari√°veis que armazenem os dados da ficha desse aluno. S√£o eles:

* **Nome:** Monkey D. Luffy
* **Idade:** 15 anos
* **Media do semestre:** 8,45
* **Situa√ßao de aprova√ß√£o:** Verdadeira (aprovado)

Na c√©lula abaixo, conseguimos criar esses valores.

In [5]:
nome_aluno = 'Monkey D.Luffy'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
# se usa underline para substituir o espa√ßo e manter a vari√°vel √∫nica

print (nome_aluno, idade_aluno, media_aluno, situacao_aprovado) #imprimir os resultados

Monkey D.Luffy 15 8.45 True

## 2.3 Opera√ß√µes com valores num√©ricos

Abaixo, uma tabela descrevendo a **fun√ß√£o dos operadores** e sua **sintaxe de uso**, sendo **a** e **b** vari√°veis num√©ricas:

|DESCRI√á√ÉO | QUANTIDADE |
|---|---|
|Soma |  a + b |
|Subtra√ß√£o | a - b|
|Multiplica√ß√£o | a * b |
| Divis√£o com resultados real | a / b |
| Divis√£o com resultado inteiro | a // b |
| Pot√™ncia | a ** b |
| Resto de divis√£o (M√≥dulo) | a % b |

In [13]:
soma = 2 + 5
print (soma)

sub = 5 -2
print (sub)

mult = 5 * 2
print (mult)

div_real = 6/3
print (div_real)

div_int = 5.5//5
print(div_int)

pot = 2**3
print (pot)

rest_div = 7%3
print (rest_div)

7
3
10
2.0
1.0
8
1

Al√©m deles, existem tamb√©m **fun√ß√µes** que podem ser aplicadas a valores num√©ricos para executar outros c√°lculos:

 * **Fun√ß√£o** *abs*: retorna o valor absoluto da vari√°vel, ou seja, seu valor positivo.

In [6]:
#Sintaxe: abs(variavel)
abs (-3)

3

* **Fun√ß√£o** *round*: retorna o n√∫mero arrendondado com uma precis√£o definida *n* casas decimais ap√≥s o ponto decimal. Se n√£o especificarmos as casas, ser√° retornado o inteiro mais as casas, ser√° retornado o inteiro mais pr√≥ximo do ponto flutuante.

In [7]:
#Sintaxe: round(variavel, numero_de_casas)
round(14.3213,2)

14.32

* **Fun√ß√£o** *pow*: retorna a potencia√ß√£o de uma base por seu expoente, funciona do mesmo modo que o operador **.

In [8]:
#Sintaxe: pow(base, expoente)
pow(3,2)

9

## 2.2.3 Vari√°veis num√©ricas

Entre os tipos de dados num√©ricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informa√ß√£o de empregos quanto ao cargo, quantidade de pessoas empregadas e o sal√°rio correspondente:

|Cargo | Quantidade | Sal√°rio|
|---|---|---|
|Seguran√ßa | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferen√ßa entre o sal√°rio mais baixo e mais alto; e
- A m√©dia ponderada da faixa salarial da escola.

In [1]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [3]:
# Total de empregados
total_empregados = q_seguranca + q_diretoria + q_docente
total_empregados

22

In [5]:
# A diferen√ßa entre o sal√°rio mais baixo e mais alto
diferenca_salario = s_diretoria - s_seguranca
diferenca_salario

9500

In [7]:
#m√©dia ponderada da faixa salarial
media = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)
media

5613.636363636364

In [8]:
round(5613.636363636364,3)

5613.636

## 2.4 Manipula√ß√£o de strings

As strings s√£o usadas para armazenar valores de texto.

Assim como nas vari√°veis num√©ricas, √© poss√≠vel manipular as strings a partir de **opera√ß√µes**, **fun√ß√µes** e at√© **m√©todos**. Por serem imut√°veis, **sua manipula√ß√£o resulta em c√≥pias**, ou seja, s√£o criadas novas strings a partir de uma original que foi manipulada.

### ‚Üí Operadores

* O **operador de soma**, permite unir duas ou mais strings e gerar uma tring √∫nica

In [16]:
cor = 'verde lim√£o '
varias = 'v√°rias cores'
frase = cor+varias
print (frase)

verde lim√£o v√°rias cores

* O **operador de multiplica√ß√£o** vai repetir a string em uma quantidade de vezes iguais √† especificada.

In [18]:
parte_1 = 'N√£o posso ser seu, '
parte_2 = 'oh ' * 3
palavra = parte_1 + parte_2
print (palavra)

N√£o posso ser seu, oh oh oh

### ‚Üí Fun√ß√£o

* A fun√ß√£o **len ( )** a quantidade de caracteres que a frase tem. (tamb√©m conta o espa√ßo entre as palavras)

In [21]:
frase = 'Hoje eu acordei t√£o cedo'
print (len(frase))

23

* A fun√ß√£o **str ( )** retorna a a representa√ß√£o de uma string para uma entrada.

In [22]:
ano = str (2013)
ano

'2013'

### ‚Üí M√©todos

üì¢ **M√©todos** s√£o fun√ß√µes que s√£o associadas a objetos em Python.

M√©todos podem ser executados ao definirmos um objeto seguindo a seguinte
estrutura: **objeto.metodo()**

Existem tamb√©m os ***atributos*** que s√£o declarados da mesma forma que os
m√©todos, no entanto, n√£o necessitam dos **( )**. √â preciso **verificar a documenta√ß√£o de cada caso**.

In [31]:
texto = ' Deus n√£o fez um amor t√£o lindo para ser proibido e se fosse, eu ainda te amava '

M√©todos que conseguimos utilizar com qualquer vari√°vel do tipo ***str***:

In [32]:
# Converter uma string para letras mai√∫sculas.
texto.upper()

' DEUS N√ÉO FEZ UM AMOR T√ÉO LINDO PARA SER PROIBIDO E SE FOSSE, EU AINDA TE AMAVA '

In [33]:
# Converter uma string para letras min√∫sculas
texto.lower ()

' deus n√£o fez um amor t√£o lindo para ser proibido e se fosse, eu ainda te amava '

In [34]:
# colocar a primeira letra de uma string em mai√∫scula e as restantes em min√∫sculas
texto.capitalize ()

' deus n√£o fez um amor t√£o lindo para ser proibido e se fosse, eu ainda te amava '

In [36]:
# retorna uma c√≥pia da tring com a substitui√ß√£o das ocorr√™ncias
texto.replace ('r', 'l')

' Deus n√£o fez um amol t√£o lindo pala sel ploibido e se fosse, eu ainda te amava '

In [38]:
# retorna o √≠ndice da primeira ocorr√™ncia de um texto em na string. Exemplo, vamos encontrar o local da primeira apari√ß√£o de 'r'
texto.find ('r')

20

In [40]:
# retorna uma c√≥pia da string original sem espa√ßos desnecess√°rios no in√≠cio e no final
texto.strip ()

'Deus n√£o fez um amor t√£o lindo para ser proibido e se fosse, eu ainda te amava'

In [41]:
# retorna uma c√≥pia da string original com a primeira letra de cada palavra em mai√∫sculas.
texto.title ()

' Deus N√£o Fez Um Amor T√£o Lindo Para Ser Proibido E Se Fosse, Eu Ainda Te Amava '

In [42]:
# retorna o n√∫mero de vezes que um determinado valor aparece na string original.
texto.count ('r')

4

In [43]:
# : retorna True se todas as letras na string original estiverem em mai√∫sculas
texto.isupper ()

False

In [44]:
# : retorna True se todas as letras na string original estiverem em man√∫sculas
texto.islower ()

False

‚ö†Ô∏è **Lembrando** que todos esses m√©todos retornam novos valores, n√£o alteram a string original. Para ser feita a altera√ß√£o √© preciso atribuir o resultado do m√©todo na mesma string.

*Situa√ß√£o hipot√©tica*

 Recebi uma vari√°vel com o nome de uma professora da escola para inserir no cadastro. No entanto, precisamos tratar esse texto antes de inserir no sistema.

In [50]:
professor = ' Ales pereira Lima '

In [55]:
professor = professor.strip().replace('s','x').upper()
professor

'ALEX PEREIRA LIMA'